{% extends 'base.html' %}
{% block main_content %}
    <div class="jumbotron">
        <h1>Welcome ! Stcok-News System</h1>
        <!-- <p>一个 <a href="http://echarts.baidu.com/index.html" target="_blank">Echarts</a> 整合的 <a
                href="https://www.djangoproject.com" target="_blank">Django</a> App，使用
            <a href="https://github.com/pyecharts/pyecharts" target="_blank">pyecharts</a>的作为图表构建库。</p>
        <p class="small">最新版本：<img src="https://img.shields.io/pypi/v/django-echarts.svg" alt="version"/></p> -->
    </div>
    <div class="page-header">
        <h2>Contents</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Makers</div>
                <div class="panel-body">
                    <p>현성수, 허영재, 김영규, 이영인</p>
                </div>
                <!-- <div class="panel-body">
                    <p><a href="{% url 'frontend_demo' %}">현성수</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="{% url 'frontend_demo' %}">허영재</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="{% url 'frontend_demo' %}">김영규</a></p>
                </div> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Contents</div>
                <div class="panel-body">
                    <p><a href="{% url 'frontend_demo' %}">Chart</a></p>
                </div>
            </div>
        </div>

    <!-- </div>
    <div class="page-header">
        <h2>其他示例</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">多图表(NameDCharts)</div>
                <div class="panel-body">
                    <p><a href="{% url 'namedcharts_demo' %}">多图表(NameDCharts)</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">多图表(Page)</div>
                <div class="panel-body">
                    <p><a href="{% url 'page_demo' %}">多图表(Page)</a></p>
                </div>
            </div>
        </div>

    </div> -->
{% endblock %}